.cmp-button {
  gap: var(--pal-size-s);
  height: var(--pal-size-2xl);

  color: var(--pal-color-white);

  background-color: var(--cmp-button-background-color, var(--pal-color-a));

  transition: background-color var(--pal-time-s) ease-out,
    box-shadow var(--pal-time-s) ease-out;

  &:hover {
    box-shadow: var(--pal-shadow-1);
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    color: initial;

    background-color: default;
    box-shadow: none;
    cursor: default;
  }
}
