.cmp-header {
  position: fixed;
  z-index: 1;

  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--pal-size-xl);

  background-color: rgba(var(--pal-color-base-black), 0.35);
  backdrop-filter: blur(2rem);

  nav {
    display: flex;
    gap: var(--pal-size-2xl);

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(var(--pal-color-base-white), 0.75);

      transition: color var(--pal-time-xs) ease-out;

      &:hover {
        color: var(--pal-color-white);
      }
    }
  }
}
