.hero {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  h1 {
    color: var(--pal-color-white);
  }

  img {
    position: absolute;
    z-index: -1;
    top: 0;

    width: 100vw;
    height: 100%;

    object-fit: cover;
    filter: brightness(0.6);
  }
}
