* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  line-height: 1;
  color: inherit;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--pal-color-a-l1) transparent;
}

html {
  --document-background-color: var(--pal-color-gs-50);

  text-rendering: optimizeLegibility;
  background-color: var(--document-background-color);
}

::selection {
  color: var(--pal-color-white);
  background-color: var(--pal-color-a-d1);
}

:is(h1, h2, h3, h4),
:is(h1, h2, h3, h4) > * {
  margin: 0;

  font-family: var(--pal-font-b);
  font-weight: 500;
  word-spacing: initial;
  letter-spacing: initial;
}

h1,
h1 > * {
  font-size: var(--pal-size-font-3xl);
}

h2,
h2 > * {
  font-size: var(--pal-size-font-2xl);
}

h3,
h3 > * {
  font-size: var(--pal-size-font-m);
  font-family: var(--pal-font-a);
  font-weight: 600;
}

small {
  font-size: var(--pal-size-font-xs);
}

ul,
ol {
  display: flex;
  list-style: none;
}

hr {
  border: none;
}

span {
  display: block;
}

input,
textarea {
  outline: none;
}

button {
  border: none;

  background-color: transparent;
  cursor: pointer;

  &:disabled {
    box-shadow: initial !important;
    cursor: default;
  }

  &:active {
    box-shadow: initial !important;
  }
}

.button-look {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--pal-size-l);

  font-weight: 500;
  letter-spacing: 0.0125rem;

  border-radius: var(--pal-size-2xs);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-l);
}

.text {
  line-height: 1.4;
  text-wrap: pretty;

  strong {
    font-weight: 700;
    color: var(--pal-color-b-d2);
  }
}

.paragraphs {
  > * {
    margin-bottom: 1em;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.full-background {
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc((100vw - 100%) / -2);

    width: 100vw;
    height: 100%;

    background-color: var(--pal-color-a-l2);

    content: '';
  }

  &.glass {
    padding-block: 3.5rem;

    &::before {
      background-color: rgba(var(--pal-color-base-black), 0.125);
      backdrop-filter: blur(4rem);
    }
  }
}

.section-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.size-l > * {
    max-width: 33rem;
  }

  > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    border-width: var(--glb-line-width);
    border-style: solid;
    border-color: var(--pal-color-a-l2);
    padding: var(--pal-size-xl);
    width: 100%;
    max-width: 26rem;

    border-radius: var(--border-radius);
    background-color: var(--pal-color-white);

    > * {
      width: 100%;

      text-align: center;
    }
  }
}

.control {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;

  label {
    display: flex;
    gap: var(--pal-size-xs);

    font-size: var(--pal-size-font-xs);

    color: var(--pal-color-a-d2);

    span {
      color: var(--pal-color-a-d2);
    }
  }

  input,
  textarea {
    border-width: var(--glb-line-width);
    border-style: solid;
    border-color: rgba(var(--pal-color-base-a-d1), 0.375);
    width: 100%;

    line-height: 1;
    border-radius: var(--pal-size-2xs);
    background-color: var(--control-background-color, transparent);

    transition: color var(--pal-time-s) ease-out,
      border-color var(--pal-time-s) ease-out;

    &:focus {
      border-color: var(--pal-color-a-d1);

      color: var(--pal-color-black);
    }
  }
}

/* Nuevamente declarado */
.cmp-service {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-3xl);

  scroll-margin-top: var(--pal-size-3xl);

  h2 {
    text-align: center;
  }

  ul {
    flex-wrap: wrap;
    gap: var(--pal-size-l);

    li {
      flex-grow: 1;
      flex-basis: 28rem;

      display: flex;
      flex-wrap: wrap;
      max-height: 35rem;

      border-radius: var(--border-radius);
      background-color: var(--pal-color-a-l2);
      overflow: hidden;

      div {
        flex-grow: 1;
        flex-basis: 26rem;

        display: flex;
        flex-direction: column;
        gap: var(--pal-size-xl);
        padding: var(--pal-size-xl);
      }

      img {
        flex-grow: 1;

        width: 15vw;
        min-width: 14rem;
        height: auto;

        object-fit: cover;
      }
    }
  }
}
