.home-hero {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--pal-size-m);

    text-align: center;
    color: var(--pal-color-white);

    p {
      font-size: var(--pal-size-font-l);
      color: var(--pal-color-a-d2);
    }
  }

  .glass {
    width: 100%;
    max-width: 28.5rem;

    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--pal-size-l);
      margin-inline: auto;

      > * {
        flex-grow: 1;
        flex-basis: 13.5rem;

        &:nth-of-type(1) {
          color: var(--pal-color-gs-900);
        }
      }
    }
  }

  .enter-animate {
    scale: 0.875;
    opacity: 0;

    animation: show 3s ease forwards;
  }
}

@keyframes show {
  to {
    scale: initial;
    opacity: initial;
  }
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  img {
    aspect-ratio: 1;
    width: clamp(16rem, 50vw, 38rem);
    height: initial;

    border-radius: var(--border-radius);
  }

  > div {
    flex-grow: 1;
    flex-basis: 22rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pal-size-l);
    width: 100%;
  }
}
