.cmp-reserve-form form {
  .radio {
    display: flex;
    align-items: center;
    gap: var(--pal-size-s);
    border-width: var(--glb-line-width);
    border-style: solid;
    border-color: var(--pal-color-a-l2);
    padding-block: var(--pal-size-xs);
    padding-inline: var(--pal-size-s);

    text-wrap: nowrap;

    border-radius: var(--pal-size-2xs);
    cursor: pointer;

    transition: background-color var(--pal-time-s) ease-out;
    accent-color: var(--pal-color-a-d1);

    &:has(input:checked),
    &:hover {
      background-color: var(--pal-color-a-l2);
    }

    input {
      cursor: pointer;
    }
  }

  .treatments {
    display: flex;
    flex-direction: column;
    gap: var(--pal-size-s);

    fieldset {
      display: flex;
      flex-wrap: wrap;
      gap: var(--pal-size-s);
      border-width: 0;
      border-style: solid;
      border-color: var(--pal-color-a-l2);
      border-top-width: var(--glb-line-width);
      padding: 0;

      text-align: start;

      legend {
        margin-bottom: var(--pal-size-s);
        padding-right: var(--pal-size-s);

        font-size: var(--pal-size-font-xs);
        color: var(--pal-color-a-d1);
      }
    }
  }

  .available-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--pal-size-s);

    .cmp-loader {
      color: var(--pal-color-a);
    }

    p {
      padding: var(--pal-size-l);

      font-weight: 500;
      color: var(--pal-color-gs-700);

      border-radius: var(--pal-size-2xs);
      background-color: var(--pal-color-gs-50);
    }

    .radio {
      width: 100%;
    }
  }
}
