.cmp-service-card {
  position: relative;

  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pal-size-xl);
  height: clamp(10rem, 25vw, 20rem);

  font-size: var(--pal-size-font-l);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--pal-color-white);

  border-radius: var(--border-radius);
  overflow: hidden;

  &:hover img {
    scale: 1.1;
  }

  img {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    object-fit: cover;
    filter: brightness(0.6);

    transition: scale var(--pal-time-m) ease;
  }
}
