.reviews {
  --cmp-separator-color: var(--pal-color-a-l1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  h2 {
    text-align: center;
  }

  ul {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: var(--pal-size-l);
    width: 100%;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
  }
}
