.profile-section {
  --cmp-separator-color: var(--pal-color-a-l1);

  display: flex;
  flex-direction: column;
  gap: var(--pal-size-2xl);
  margin-inline: auto;
  max-width: 50rem;

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--pal-size-2xl);

    img {
      border-width: var(--glb-line-width);
      border-style: solid;
      border-color: var(--pal-color-a-l1);

      border-radius: 50%;
      overflow: hidden;

      object-fit: cover;
    }

    .group {
      flex-grow: 1;

      h2 {
        font-family: var(--pal-font-a);
        font-weight: 600;
        color: var(--pal-color-a);
      }

      p {
        font-size: var(--pal-size-font-m);
        color: var(--pal-color-gs-600);
      }
    }

    .cmp-button {
      align-self: flex-end;
    }
  }

  .labels {
    display: grid;
    gap: var(--pal-size-m);
    grid-template-columns: 1fr 1fr;

    @media (width <= 30rem) {
      grid-template-columns: 1fr;
    }
  }
}
