/* En el deploy de Vercel este archivo compila mal, lo declaro nuevamente en global.css */
.cmp-service {
  display: flex;
  flex-direction: column;
  gap: var(--pal-size-3xl);

  scroll-margin-top: var(--pal-size-3xl);

  h2 {
    text-align: center;
  }

  ul {
    flex-wrap: wrap;
    gap: var(--pal-size-l);

    li {
      flex-grow: 1;
      flex-basis: 28rem;

      display: flex;
      flex-wrap: wrap;
      max-height: 35rem;

      border-radius: var(--border-radius);
      background-color: var(--pal-color-a-l2);
      overflow: hidden;

      div {
        flex-grow: 1;
        flex-basis: 26rem;

        display: flex;
        flex-direction: column;
        gap: var(--pal-size-xl);
        padding: var(--pal-size-xl);
      }

      img {
        flex-grow: 1;

        width: 15vw;
        min-width: 14rem;
        height: auto;

        object-fit: cover;
      }
    }
  }
}
